<!DOCTYPE html>
<html>
<head>
	<title>Welcome to Dina's page</title>
</head>
<body>


<h1>Hi my name is dina. Welcome</h1>

<img src="https://tse3-mm.cn.bing.net/th?id=OIP.Njds_or8OjS2PhCkCGVekQHaFY&p=0&o=5&pid=1.1">

<h2>A Chinese rapper named 鬼卞</h2>
<p>
	Have you ever heard of him?(there is a picture of him above~)
	Talk about the information that you know about 鬼卞!!!!!


</p>

<button>Like</button>
<form action="{% url 'blog:home_page' %}" method="POST">
{% csrf_token %}
	<input type="text" placeholder="type your username" name="username">
	<textarea placeholder="Say whatever u want!!!" name="comment"></textarea>
	<input type="submit" value="Go!!!" name="">
</form>

<h2>WoW</h2>
User {{comment.user}} says: {{comment.comment}}

</body>
</html>